// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* vignette */
.vignette {
    box-shadow: 2px 2px 8px 0 rgb(0, 0, 0, 20%);
    border-radius: 0;
}

.card-body {
    text-align: center;
    padding: 0.8rem;
}

.card-title {
    color: grey;
    font-weight: normal;
}

.card-prix {
    color: black;
    font-weight: bold;
}

.embed-responsive .card-img-top {
    object-fit: contain; /* définit la façon dont l'image doit s'adapter à son conteneur */
}

/* bouton close */
.btn-close {
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    color: #DCDCDC;
}
button.btn-close:hover  {
    color: black;
}
button.btn-close:focus  {
    outline: none;/* arrête d'afficher une bordure quand on enlève la souris de la croix */
}